/* Coolors Exported Palette - https://coolors.co/001219-005f73-ca6702-9b2226 */

body{
    font-family: Georgia;
    color:#ca6702ff;
    background-color:#001219ff;
    margin-left:150px;
    margin-right:150px;
    

}
header,footer{
    text-align: center;
    color:#9b2226ff;
    font-weight:initial;
}
h1,h2,h3{
    color:#9b2226ff;
    font-family: 'Gerogia';
    text-align: center;
}
figure{
    text-align:center;
}
nav{
    text-align: center;
    color:#ca6702ff;
}


/* SCSS HEX */
$rich-black-fogra-29: #001219ff;
$blue-sapphire: #005f73ff;
$alloy-orange: #ca6702ff;
$ruby-red: #9b2226ff;
