/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/

body{
    font-family: Georgia;
    color:#ca6702ff;
    background-color:dimgrey;
    margin-left:250px;
    margin-right:250px;
    }

header,footer{
    text-align: center;
    color:#ca6702ff;
    font-weight:initial;
    margin-left: 5em;
}
h2{
    text-align: center;
}
form{
	color:rgb(230, 144, 16);
	font-size:18px;  
	font-style: italic;
	background-color:dimgrey;
	align-items: center;
	background-color:darkslategray;
	}

#button{
	background-color: dimgrey;
	font-style: italic;
	color: floralwhite;
}
nav{
    text-align: center;
    color:#ca6702ff;

}