/* background image */
html {
  background: url("Candle-Background.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* top heading */

h2{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,h2{
  font-size: 60px;
  padding-top: 20px;
  color:powderblue;


}
h3 {
  color:powderblue;

}
/* font size */
body {
  font-size: 16px;
  text-align: center;
  
}

/* table format*/
td,
th {
  border: 1px solid black;

  padding: 8px;
  background-color:#262626;
  color:powderblue;
  text-align: left;
  
  
}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color:#262626;
 
  color:powderblue;
  
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

/* form */
form {

  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color:powderblue;
  background-color: rgb(44, 44, 44,.5);
}


/* footer bottom of page*/
header,footer {
  
  text-align: center;
  color:rgb(216, 144, 73);
  font-weight:initial;
}

abbr {
  text-decoration: none;

}

/* whitespace */
.whitespace {
  padding: 10px;
}

.whitespace2 {
  padding: 60px;
}

.close:hover,
.close:focus {
  color: rgb(59, 218, 86);
  text-decoration: none;
  cursor: pointer;
}
img
{
  max-height: 250px;
  max-width: 350px;
  width:100%;
}
.background{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
}
a href
{
max-height: none;
max-width: none;
}
