/* ITIS 3135 activity 2 css file */
#caption{
    text-align: center;
}
body{
    font-family: Georgia;
    color:rgb(156, 79, 1);
    background-color:dimgrey;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
table{    
    border-collapse: collapse;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
thead{
    background-color: rgb(145, 75, 5);
}
th,td{
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
    color: white;
}

.right{
    text-align: right;
}
tbody tr:nth-child(odd) td{
    background-color: rgb(35, 19, 80);
    color: white;
}
tbody tr:nth-child(even) td{
    background-color: rgb(156, 79, 1);
    color: white;
}
header,footer{
    text-align: center;
    color:rgb(156, 79, 1);
    font-weight:initial;
    margin-left: auto;
    margin-right: auto;
}
nav{
    text-align: center;
    color:rgb(156, 79, 1);
    margin-left: auto;
    margin-right: auto;

}
h1,h2,h3{
    color:rgb(156, 79, 1);
    font-family: 'Gerogia';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center{
    margin-right: auto;
    margin-left: auto;
}

/* SCSS HEX 
$rich-black-fogra-29: #001219ff;
$blue-sapphire: #005f73ff;
$alloy-orange: #ca6702ff;
$ruby-red: #9b2226ff;
*/