<footer>
    <div class="inline"></div>
        <nav>
            <a href="index.html">Home</a>
            ||
            <a href="menu_1.html">Menu</a>
            ||
            <a href="contact.html">Contact Us</a>
            ||
            <a href="review.html">Reviews</a>
        </nav>
            <br>
            
            <a href="https://validator.w3.org/check?uri=referer">
                <img src="images/button-valid-html5.gif" width="88px" height="31px" alt="Link to HTML validator">
            </a>
            
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img src="images/button-valid-css.gif" width="88px" height="31px" alt="Link to CSS validator">
            </a>
    </div>
</footer>