
    <header>
        <nav>
            <a href="index.html">Home</a>
            ||
            <a href="menu1.html">Menu</a>
            ||
            <a href="contact.html">Contact Us</a>
            ||
            <a href="review.html">Reviews</a>
        </nav>

        <h1> El Chile Rojo </h1>
            <figure>
                <a href="images/">
                    <img src="images/" alt="Rojo Entrance">
                </a>
            </figure>
            <ul>
                <lh> Hours of Operation </lh>
                <li> Monday - 11:00am - 9:30pm</li> &ensp;  <li> Wednesday - 11:00am - 9:30pm</li> &ensp; <li> Friday - 11:00am - 10:00pm</li> &ensp; <li> Sunday - <stong>CLOSED</stong></li><br>
                <li> Tuesday - 11:00am - 9:30pm</li> &ensp; <li> Thursday - 11:00am - 9:30pm</li> &ensp; <li> Saturday - 11:00am - 10:00pm</li><br>
            </ul>

    </header>
    
