
    <header>
        <figure>
                    <img class="lilPic" src="images/blender.jpg" alt="Rojo Entrance">
                </a>
        </figure>
        <nav>
            <a href="index.html">Home</a>
            ||
            <a href="menu_1.html">Menu</a>
            ||
            <a href="contact.html">Contact Us</a>
            ||
            <a href="review.html">Reviews</a>
        </nav>
        <div>
            <h1> El Chile Rojo </h1>
            <p> Call us at - 864-457-5977<br>
                Visit us at - 209 E Rutherford St,<br>Landrum, SC 29356
            </p>
        </div>
                

    </header>
    
