
    <header>
        <div id="headerNav">
            <nav>
                <a href="index.html">Home</a>
                ||
                <a href="menu_1.html">Menu</a>
                ||
                <a href="contact.html">Contact Us</a>
                ||
                <a href="review.html">Reviews</a>
            </nav>
        </div>
        <div id="headerPhoto">
            <figure>
                        <img class="lilPic" src="images/frontboth.jpg" alt="Rojo Entrance">
                    </a>
            </figure>
        </div>
       
        <div id="headerTitle">
            <h1> El Chile Rojo </h1>
            <p> Call us
                       <a  href="tel:8644575977" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">864-457-5977</a>
                       <br>
            </p>
            <p> Visit us 
                       <a  href="https://www.google.com/maps/place/209+E+RutherFord+St+SC,+Landrum,+29356/">209 E Rutherford St,<br>Landrum, SC 29356</a><br><br>
            </p>

                   
            </p>
        </div>
                    

    </header>
    
