#header, #footer {            
            font-family: Marker felt, fantasy;
            color: rgb(200, 0, 50);
            width: 100%;
            height: auto;
          
            background-color: rgb(200,200,50);
            padding:5px;
            display: inline-block;
        }
        
h1{
   color: rgb(200, 0, 50); 
   padding: 5px;
}
.sticky
{
    position : fixed;
    top : 0;
    width : 100%;
}
body{
    background-color: rgb(25, 175, 50);
    color:rgb(200, 0, 50);
    text-align: center;
}
main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tile{
    display:inline;
    padding: 20px;
    font-size: small;
    font-family: Marker felt, fantasy;
}

a:link, a:visited{
    color :rgb(25, 175, 50);

}
a:hover{
    color :rgb(200, 0, 50);
}
html,body{
    margin:0;
    padding:0;
}
lh{
    font-size: 24px;
}
li{
    font-size: 20px;
    color:rgb(200,200,50);
}
.lilPic{
    width:150px;
    height: 100px;
}