header, footer {   
    font-family: 'Kalam';
    color: rgb(150,0,0);
    background-color:rgb(200,200,50);
    text-align: center;
    padding: 5px;
    color: rbga(200,200,50,.85);
    position: relative;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
    display: flex;
    
}
  
h1 {
	margin: 0;
	padding: 3px 0 3px 25px;
	border: solid green 1px;
	color: green;
}

body{
    background-color: rgb(75, 150, 50);
    color:rgb(150,0,0);    
	margin: 10 auto;
    padding: 20px;
    border: 3px solid rgba(150, 0, 0, .5);
    
}

main{
    width: auto;
    text-align: center;
    padding: 10px;
}

img{      
    width: 300px;
    height: 450px;
    border-radius: 25%;
    object-fit: scale-down;
}
.lilPic{
    max-width: 400px;
    max-height: 200px;
    border-radius: 25%;
}
.validatorPic{
    max-width: 88px;
    max-height: 31px;
    
}

.bx-wrapper {
    margin-bottom: 20px;
    border:5px dashed rgb(150,0,0);
}

#id_pager {
    text-align: center;
    font-size: 90%;
    color: green;
} 

#Welcome_Hours {
    background-color:rgb(200,200,50);
    text-align: center;
    padding: 5px;
    color: rgb(150,0,0);;
    position: relative;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}

#slideshow {
    background-color:rgb(200,200,50);
    text-align: center;
    padding: 5%;
    color: rgb(150,0,0);
    position: relative;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    border:5px dashed rgb(150,0,0);
}
#sliderBX{
   margin-right: 25%;
   margin-left: 25%;
}