
    <header>
        <nav>
            <a href="index.html">index</a>
            ||
            <a href="introduction.html">introduction</a>
            ||
            <a href="tables.html">tables</a>
            ||
            <a href="forms.html">form</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="brand-tyrannical-rottweiler.html">TryanicalRots</a>
            ||
            <a href="first-scripts.html">Scripts</a>
            <br>
            <a href="nameThePolygon.html">NameThePolygon</a>
            ||
            <a href="calculator_try.html">CalcTry</a>
            ||
            <a href="calculator.html">Calculator</a>
            ||
            <a href="arrays.html">Arrays</a>
            ||
            <a href="Accessibility/Rogers-Activity_Accessibility.html">Accessibility Acitvity</a>
            ||
	       <br>
            <a href="Slideshow.html">slideShow</a>
            ||
            <a href="Animatedslideshow.html">animated slideShow</a>
            ||
            <a href="rogers-Activity11">Accordian</a>
            ||
            <a href="stuff/CRAPPY page ','.htm">CRAPPY page</a>
        </nav>
    </header>
